<mat-card class="min-width">
  <mat-toolbar color="primary" class="min-width">New Course</mat-toolbar>
  <form [formGroup]="form" class="min-width">
    <mat-form-field class="full-width min-width">
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="full-width min-width">
      <input matInput placeholder="Category" formControlName="category" />
    </mat-form-field>
    <div class="button-save-cancel">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>
